/autom4te.cache/
/build/
/Makefile
/config.log
/config.status
/dnspecker
/tmp/
/dnsmeter
/.settings/
/testdaten/
/tests/compile/
/tests/testsuite
/tests/Makefile
/.vscode/
payload*
ppl7/include/stamp*
ppl7/include/ppl7-config.h
ppl7/include/config_ppl7.h
